# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.venv/
venv/
ENV/
env/
*.egg-info/
*.egg
dist/
build/
*.log

# Rust
target/
**/*.rs.bk

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/

# OS files
.DS_Store
Thumbs.db
